page{
  padding: 20rpx;
  box-sizing: border-box;
}
.item{
  display: flex;
  position: relative;
  width: 92%;
  padding: 30rpx;
  border-radius: 30rpx;
  background-color: #ffffff;
  .img{
    width: 300rpx;
    height: 300rpx;
    overflow: hidden;
    border-radius: 30rpx;
    margin-right: 20rpx;
    image{
    
     width: 300rpx;
     height: 300rpx;

    }
  }
  .right{
    display: flex;
    flex-direction: column;
    .title{
      font-weight: 600;
      margin-top: 10rpx;
    }
  .text{
    width: 335rpx;
    margin-top: 40rpx;
    line-height: 1.4em;
    color: rgb(135, 138, 138);
  }
  .price{
    margin-top: 40rpx;
    font-size: 40rpx;
    color:#494136;
    text{
      font-size: 30rpx;
    }
  }
  .compute{
    display: flex;
    align-items: center;
    position: absolute;
    right: 40rpx;
    top: 245rpx;
    input{
      text-align: center;
      width: 70rpx;
      background-color: rgb(219, 219, 219);
      margin: 0 20rpx;
      font-size: 25rpx;
    }
    .add{
      font-size: 45rpx;
      margin-top: -10rpx;
    }
    .sub{
      font-size: 45rpx;
      margin-top: -10rpx;
    }
  }
  }
}
.cart{
  position: relative;
  height: 100vh; 
  background-color: #ffffff;
  image{
    width: 900rpx;
    height: 700rpx;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}