.introduce{
  width: 100%;
  padding: 20rpx;
  height: 100%;
  .title{
    font-size: 50rpx;
    text-align: center;
  }
  .time{
    font-size: 20rpx;
    text-align: center;
    margin-top: 20rpx;
    color: rgb(165, 165, 164);
  }
  .p_1{
    margin-top: 20rpx;
    text-indent: 2em;
    width: 735rpx;
    line-height: 50rpx;
  }
  .subTitle{
    margin-top: 20rpx;
    font-weight: 700;
    font-size: 35rpx;
  }
  .img{
    text-align: center;
    margin-left: -40rpx;
    margin-top: 20rpx;
  }
}
