<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daisy.teabackgroundmanagementsystemspringboot.Mapper.UserMapper">
<!--    /**-->
<!--     * 根据用户名查询用户信息-->
<!--     * @param user-->
<!--     * @return-->
<!--     */-->
    <select id="getUser" resultType="com.daisy.teabackgroundmanagementsystemspringboot.Pojo.User">
        select * from taguser
        <where>
            <if test="username!=null and username != ''" >
                and username=#{username}
            </if>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="createTime != null and updateTime != null">
                and between #{createTime} and #{updateTime}
            </if>
        </where>
        order by update_Time desc limit 0,10;
    </select>
<!--    /**-->
<!--     * 根据用户名查询用户信息-->
<!--     * @param user-->
<!--     * @return-->
<!--     */-->
    <delete id="delectUser">
        DELETE from taguser where id=#{id};
    </delete>
<!--    /**-->
<!--     * 重置id-->
<!--     */-->
    <update id="resetId">
        CALL resetTagUserIds();
    </update>

<!--    修改用户信息-->
    <update id="updateUser">
            update taguser
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test = "updateTime != null">
                update_Time=#{updateTime},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="phone != null">
                phone=#{phone},
            </if>
            <if test="bio != null">
                bio=#{bio},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>