
.tea{
  margin-top: 20rpx;
    .banner{
      width: 100%;
      height: 450rpx;
      overflow: hidden;
      image{
        width: 100%;
        height: 550rpx;
      }
    }
  .title_1{
    display: block;
    margin-top: 40rpx;
    margin-bottom: 40rpx;
    font-size: 40rpx;
    margin-left: 30rpx;
    font-weight: 600;
  }
  .title_2{
    display: block;
    margin-top: 40rpx;
    margin-bottom: 40rpx;
    font-size: 40rpx;
    margin-left: 30rpx;
    font-weight: 600;
  }
  .title_3{
    display: block;
    margin-top: 40rpx;
    margin-bottom: 40rpx;
    font-size: 40rpx;
    margin-left: 30rpx;
    font-weight: 600;
  }
  .title_4{
    display: block;
    margin-top: 40rpx;
    margin-bottom: 40rpx;
    font-size: 40rpx;
    margin-left: 30rpx;
    font-weight: 600;
  }
  .title_5{
    display: block;
    margin-top: 40rpx;
    margin-bottom: 40rpx;
    font-size: 40rpx;
    margin-left: 30rpx;
    font-weight: 600;
  }
  .text{
    display: block;

    margin: 10rpx;
    text-indent: 70rpx;
    line-height: 55rpx;
    padding-bottom: 40rpx;
    border-bottom: 1rpx #494136 dashed;
  }
}

